Source: rxtools
Section: devel
Priority: optional
Maintainer: Alexis Giraudet <alexis.giraudet@nav-timing.safrangroup.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.3
Homepage: https://www.septentrio.com/en/products/gps-gnss-receiver-software/rxtools
Rules-Requires-Root: no

Package: rxtools
Architecture: amd64
Depends:
 ${misc:Depends},
 libegl1,
 libxkbcommon-x11-0,
 libxcb-cursor0,
 libxcb-icccm4,
 libxcb-image0,
 libxcb-keysyms1,
 libxcb-render-util0,
 libxcb-shape0,
 libxcb-xkb1,
Description: Septentrio GNSS receiver control and analysis software
 Software suite to control and monitor your GNSS receiver.
 Visualization of GNSS data in real-time or with logged data.
 The most complete and powerful GNSS tools set on the market.
 Advanced data logging and stream monitoring.
 Receiver control and monitoring.
 Connectivity via IP, USB, serial port.
 Windows and Linux compatible.
 SDK included for building your own applications.
